{% if SOCIAL %}
    <div class="mdl-mega-footer--drop-down-section">
        <h1 class="mdl-mega-footer--heading">Social</h1>
        <ul class="mdl-mega-footer--link-list">
            {% for title, url in SOCIAL %}
                <li>
                    <a href="{{ url }}" itemprop="url" rel="me bookmark" target="_blank" rel="noopener noreferrer">
                        {{ title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
