{% if LINKS %}
    <div class="mdl-mega-footer--drop-down-section">
        <h1 class="mdl-mega-footer--heading">Links</h1>
        <ul class="mdl-mega-footer--link-list">
            {% for title, url in LINKS %}
                <li>
                    <a href="{{ url }}" itemprop="url" rel="bookmark noopener noreferrer" target="_blank">
                        {{ title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
