{% for title, url in MENUITEMS %}
    <a class="mdl-color-text--accent mdl-navigation__link"
       href="{{ url }}" itemprop="url" rel="bookmark">
        {{ title }}
    </a>
{% endfor %}
{% if DISPLAY_PAGES_ON_MENU != False %}
    {% for page in pages %}
        {% if page.title != "Home" and page.title != "404" %}
            <a class="mdl-color-text--accent mdl-navigation__link"
            href="{{ SITEURL }}/{{ page.url }}" itemprop="url"
            rel="bookmark">
                {{ page.title }}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
{% if DISPLAY_CATEGORIES_ON_MENU != False %}
    {% for cat, null in categories  %}
        <a class="mdl-color-text--accent mdl-navigation__link"
           href="{{ SITEURL }}/{{ cat.url }}" itemprop="url"
           rel="bookmark">
            {{ cat }}
        </a>
    {% endfor %}
{% endif %}
{% if ARCHIVES_SAVE_AS %}
    <a class="mdl-color-text--accent mdl-navigation__link"
       href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"
       itemprop="url" rel="bookmark">
        Archives
    </a>
{% endif %}
{% if FEED_RSS or FEED_ATOM %}
    <a class="mdl-color-text--accent mdl-navigation__link"
       href="{{ SITEURL }}/{{ FEED_RSS if FEED_RSS else FEED_ATOM }}"
       title="{{ 'RSS' if FEED_RSS else 'Atom' }}" itemprop="url">
        {{ 'RSS' if FEED_RSS else 'Atom' }}
    </a>
{% endif %}
{% if 'tipue_search' in PLUGINS %}
    <div class="eevee-search-menu mdl-textfield">
        <label class="mdl-color-text--accent mdl-button mdl-button--icon"
               for="tipue_search_input">
            <i class="material-icons">&#xE8B6;</i>
        </label>
        <div>
            <form action="{{ SITEURL }}/search.html">
            <input class="eevee-search-box mdl-textfield__input"
                   type="text" name="q" id="tipue_search_input"
                   autocomplete="off">
            </form>
        </div>
    </div>
{% endif %}
