@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url('/theme/fonts/roboto-light.woff2') format('woff2'),
       url('/theme/fonts/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('/theme/fonts/roboto-regular.woff2') format('woff2'),
       url('/theme/fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url('/theme/fonts/roboto-medium.woff2') format('woff2'),
       url('/theme/fonts/roboto-medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url('/theme/fonts/roboto-bold.woff2') format('woff2'),
       url('/theme/fonts/roboto-bold.woff') format('woff');
}

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: local('Font Awesome'),
         local('Font-Awesome'),
         url('/theme/fonts/fontawesome.woff2') format('woff2'),
         url('/theme/fonts/fontawesome.woff') format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/theme/fonts/materialicons-regular.woff2') format('woff2'),
       url('/theme/fonts/materialicons-regular.woff') format('woff');
}

.mdl-layout__header {
    border: none;
    box-shadow: none;
    box-sizing: none;
}

div.eevee-mobile-button {
    margin: 5px -5px !important;
}

.mdl-layout__drawer .mdl-navigation {
    margin: -5px 0 0 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none !important;
}

h1 {
    font-size: 36px;
    line-height: 1.35;
    margin: 24px 0;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    font-size: 34px;
    line-height: 48px;
}

h2.article-title {
    font-size: 36px;
    line-height: 48px;
}

h2, h3 {
    margin: 24px 0;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

h3, h4 {
    font-weight: 400;
}

h4 {
    font-size: 30px;
    line-height: 32px;
    margin: 24px 0 16px;
}

h5 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
}

h5, h6 {
    margin: 24px 0 16px;
}

h6 {
    font-weight: 400;
    line-height: 26px;
}

* {
    font-feature-settings: 'liga' !important;
}

pre, code, blockquote {
    /* -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    margin: 1.6em 0 1.6em 0;
    padding: 0 5px 0 5px;
    /*border-left: rgb(66, 66, 66) 0.4em solid;*/
    font-size: 14px;
    padding: 2px 4px;
    color: #c7254e;
    background-color: #ddd;
    border-radius: 4px;
    word-wrap: break-word;
    word-break: break-all;
}

table {
    position: relative;
    border: 1px solid rgba(0, 0, 0, .12);
    border-collapse: collapse;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
}

thead {
    padding-bottom: 3px;
}

tbody tr {
    position: relative;
    height: 48px;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-property: background-color;
}

tbody tr:hover {
    background-color: rgb(238, 238, 238);
}

td:first-of-type,
th:first-of-type {
    padding-left: 24px;
}

td:last-of-type,
th:last-of-type {
    padding-right: 24px;
}

td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 12px 18px;
    box-sizing: border-box;
    text-align: right;
    vertical-align: middle;
}

th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
    text-align: right;
}

span.bold {
    font-weight: bold;
}

.eevee-header .mdl-layout__header-row {
    padding-left: 40px;
}

.eevee-nav, .eevee-logo, .eevee-logo a {
    font-weight: 400;
    margin: 0;
    opacity: 0.87;
    text-decoration: none;
}

.eevee-mobile-logo {
    font-weight: 400;
    opacity: 0.87;
    text-decoration: none;
}

.eevee-ribbon {
    width: 100%;
    height: 30em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-main {
    margin-top: -25em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.eevee-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.eevee-content {
    border-radius: 2px;
    margin-bottom: 40px;
}

.eevee-padding {
    padding: 56px;
}

.eevee-article {
    padding: 0 56px;
}

.eevee-page {
    padding: 20px 56px;
}

div.section {
    padding: 10px 0;
}

div.eevee-page-spacer {
    height: 56px;
}

.eevee-footer {
    padding-left: 40px;
}

.eevee-meta {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    padding-left: 3px;
}

.eevee-toc {
    display: table-cell;
}

.eevee-toc-ribbon {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.6em 0 3em -2.2em;
    padding: 0.2em 0 0.2em 1.6em;
    border-left: rgb(66, 66, 66) 0.4em solid;
}

.eevee-toc ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 28px;
}

.eevee-divider {
    width: 100%;
    height: 2px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 60px 0 -60px 0;
}

.eevee-divider-to-top {
    width: 100%;
    margin: 60px 0 -60px 0;
    text-align: center;
    padding-top: 10px;
}

div.eevee-related {
    background-color: rgb(255, 255, 255);
    padding: 10px 56px 20px 56px;
}

div.eevee-ac {
    background-color: rgb(245, 245, 245);
    padding: 10px 56px 20px 56px;
}

div.eevee-comment {
    background-color: rgb(238, 238, 238);
    padding: 10px 56px 20px 56px;
}

header.eevee-ac__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}

img.eevee-ac-author__avatar {
    width: 220px !important;
    height: 220px !important;
}

div.eevee-ac-author__text > h3 {
    padding: 0;
    margin: 0 0 10px -2px;
}

nav.eevee-ac-author__social > a > i {
    font-size: 2rem;
}

div.eevee-comment div.muut {
    margin-bottom: -26px;
}

.eevee-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.eevee-pagination, .eevee-pagination a {
    text-decoration: none;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.eevee-pagination__container {
    min-height: 80px;
}

.eevee-footer a, .mdl-logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.mdl-mega-footer--link-list i.material-icons,
.mdl-mega-footer__link-list i.material-icons {
    font-size: 14px;
    vertical-align: middle;
}

div.align-center img, img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.align-center {
    text-align: center;
}

.eevee-share {
    float: right;
    padding: 36px 56px 36px 56px;
}

ul.social-share {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social-share__link {
    float: left;
    height: 45px;
    width: 75px;
    margin-left: 1.2%;
    padding: 0;
    -webkit-transition: background-color .3s ease-out 0s;
    transition: background-color .3s ease-out 0s;
    color: rgb(255, 255, 255);
}

.social-share__link > a {
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    display: block;
    height: 100%;
    width: 100%;
}

.social-share__link > a:hover {
    text-decoration: none;
}

.social-share__link > a > i {
    font-size: 2.2rem;
    margin-top: 10px;
    margin-right: 5px;
    text-align: right;
    float: right;
}

.social-share__link--twitter {
    background-color: rgb(3, 155, 229);
}

.social-share__link--twitter:hover {
    background-color: rgb(2, 119, 189);
}

nav.eevee-ac-author__social a[href^="http://twitter.com"],
nav.eevee-ac-author__social a[href^="http://www.twitter.com"],
nav.eevee-ac-author__social a[href^="https://twitter.com"],
nav.eevee-ac-author__social a[href^="https://www.twitter.com"] {
    color: rgb(3, 155, 229) !important;
}

nav.eevee-ac-author__social a[href^="http://twitter.com"]:hover,
nav.eevee-ac-author__social a[href^="http://www.twitter.com"]:hover,
nav.eevee-ac-author__social a[href^="https://twitter.com"]:hover,
nav.eevee-ac-author__social a[href^="https://www.twitter.com"]:hover {
    color: rgb(2, 119, 189) !important;
}

.social-share__link--facebook {
    background-color: rgb(21, 101, 192);
}

.social-share__link--facebook:hover {
    background-color: rgb(13, 71, 161);
}

nav.eevee-ac-author__social a[href^="http://facebook.com"],
nav.eevee-ac-author__social a[href^="http://www.facebook.com"],
nav.eevee-ac-author__social a[href^="https://facebook.com"],
nav.eevee-ac-author__social a[href^="https://www.facebook.com"] {
    color: rgb(21, 101, 192) !important;
}

nav.eevee-ac-author__social a[href^="http://facebook.com"]:hover,
nav.eevee-ac-author__social a[href^="http://www.facebook.com"]:hover,
nav.eevee-ac-author__social a[href^="https://facebook.com"]:hover,
nav.eevee-ac-author__social a[href^="https://www.facebook.com"]:hover {
    color: rgb(13, 71, 161) !important;
}

.social-share__link--google-plus {
    background-color: rgb(244, 67, 54);
}

.social-share__link--google-plus:hover {
    background-color: rgb(211, 47, 47);
}

nav.eevee-ac-author__social a[href^="http://plus.google.com"],
nav.eevee-ac-author__social a[href^="https://plus.google.com"] {
    color: rgb(244, 67, 54) !important;
}

nav.eevee-ac-author__social a[href^="http://plus.google.com"]:hover,
nav.eevee-ac-author__social a[href^="https://plus.google.com"]:hover {
    color: rgb(211, 47, 47) !important;
}

.social-share__link--email {
    background-color: rgb(139, 195, 74);
}

.social-share__link--email:hover {
    background-color: rgb(104, 159, 56);
}

.social-share__link--comment {
    background-color: rgb(0, 188, 212);
}

.social-share__link--comment:hover {
    background-color: rgb(0, 151, 167);
}

.social-share__link a:hover {
    color: rgb(255, 255, 255) !important;
}

nav.eevee-ac-author__social a[href^="http://github.com"],
nav.eevee-ac-author__social a[href^="http://www.github.com"],
nav.eevee-ac-author__social a[href^="https://github.com"],
nav.eevee-ac-author__social a[href^="https://www.github.com"] {
    color: rgb(33, 33, 33) !important;
}

nav.eevee-ac-author__social a[href^="http://github.com"]:hover,
nav.eevee-ac-author__social a[href^="http://www.github.com"]:hover,
nav.eevee-ac-author__social a[href^="https://github.com"]:hover,
nav.eevee-ac-author__social a[href^="https://www.github.com"]:hover {
    color: rgb(97, 97, 97) !important;
}

nav.eevee-ac-author__social a[href^="http://instagram.com"],
nav.eevee-ac-author__social a[href^="http://www.instagram.com"],
nav.eevee-ac-author__social a[href^="https://instagram.com"],
nav.eevee-ac-author__social a[href^="https://www.instagram.com"] {
    color: rgb(139, 195, 74) !important;
}

nav.eevee-ac-author__social a[href^="http://instagram.com"]:hover,
nav.eevee-ac-author__social a[href^="http://www.instagram.com"]:hover,
nav.eevee-ac-author__social a[href^="https://instagram.com"]:hover,
nav.eevee-ac-author__social a[href^="https://www.instagram.com"]:hover {
    color: rgb(104, 159, 56) !important;
}

.hidden {
    display: none;
}

h2 > a.headerlink:hover,
h3 > a.headerlink:hover,
h4 > a.headerlink:hover,
h5 > a.headerlink:hover,
h6 > a.headerlink:hover {
    color: rgb(66, 66, 66) !important;
    visibility: hidden;
    vertical-align: text-top;
    font-size: 40px;
    padding: 0 4px;
    text-decoration: none;
    -webkit-transition: color 0.3s ease 0s !important;
    transition: color 0.3s ease 0s !important;
}

h2 > a.headerlink,
h3 > a.headerlink,
h4 > a.headerlink,
h5 > a.headerlink,
h6 > a.headerlink {
    color: rgb(224, 224, 224);
    vertical-align: text-top;
    font-size: 40px;
    padding: 0 4px;
    visibility: hidden;
}

h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink {
    visibility: visible;
    vertical-align: text-top;
    font-size: 40px;
    padding: 0 4px;
    color: rgb(224, 224, 224);
}

.summary-content a.headerlink {
    display: none;
}

div.eevee-search-menu {
    width: 200px !important;
}

input.eevee-search-box {
    margin: 0 0 0 35px;
}

#tipue_search_content {
    letter-spacing: 0;
}

#tipue_search_results_count {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0;
    padding: 0;
    letter-spacing: 0;
}

.tipue_search_content_title > a  {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    margin: 24px 0 24px -3px;
    padding: 0;
    letter-spacing: 0;
    text-decoration: none;
}

.tipue_search_content_text {
    padding: 0 0 30px 0;
}

li.series-active, li.series-active a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox-block {
    padding: 30px 0;
}

.lightbox img {
    max-width: 98%;
    max-height: 90%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.lightbox-divider {
    background: rgb(224, 224, 224);
    width: 100%;
    height: 3px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 30px 0;
}

.lightbox-divider:last-child {
    background: none;
    width: 100%;
    height: 0;
    margin: 0;
}

.eevee-card-container {
    padding: 0 !important;
    max-width: 100% !important;
}

.eevee-cell {
    background-color: #FFCCBC !important;
    padding: 10px !important;
    min-height: 0 !important;
}

.eevee-cell--1-col {
    margin: 8px !important;
    width: calc(100% - 16px) !important;
}

.eevee-cell--2-col {
    margin: 8px !important;
    width: calc(50% - 16px) !important;
}

.eevee-cell--3-col {
    margin: 8px !important;
    width: calc(33.3333333333% - 16px) !important;
}

.eevee-cell--4-col {
    margin: 8px !important;
    width: calc(25% - 16px) !important;
}

.eevee-cell--5-col {
    margin: 8px !important;
    width: calc(20% - 16px) !important;
}
