<!DOCTYPE html>
<!--
    (The MIT License)

    Copyright (c) 2016 Kura

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the 'Software'), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
-->
{% from 'partials/_defaults.html' import THEME_PRIMARY with context %}
{% from 'partials/_defaults.html' import THEME_ACCENT with context %}
{% from 'partials/_defaults.html' import MEGA_FOOTER with context %}
{% from 'partials/_defaults.html' import DISCLAIMER with context %}
{% from 'partials/_defaults.html' import COPYRIGHT with context %}
<html lang="{{ DEFAULT_LANG }}">
<head id="head">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="alternate" href="{{ SITEURL }}" hreflang="{{ DEFAULT_LANG }}" />
    {% include 'partials/prefetch.html' %}
    {% include 'partials/feeds.html' %}
    {% include 'partials/facebook.html' %}
    {% include 'partials/twitter.html' %}
    <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
    <title>#ircpuzzles :: {% block title %}{{ SITENAME }}{% endblock title %}</title>
    <script defer data-domain="{{ DOMAIN_PLAUSIBLE }}" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
    <div class="eevee-layout mdl-layout mdl-js-layout mdl-color--grey-50">
        <header class="eevee-header mdl-color--grey-50 mdl-color-text--grey-800"
                itemscope itemtype="http://schema.org/WPHeader">
            <div class="mdl-layout__header-row" id="top">
                <div aria-expanded="false" role="button" tabindex="0"
                     class="mdl-layout__drawer-button mdl-color-text--accent eevee-mobile-button mdl-layout--small-screen-only">
                    <i class="material-icons">&#xE5D2;</i>
                </div>
                <span class="eevee-logo mdl-color-text--accent mdl-layout-title">
                    <h2>
                        <a href="{{ SITEURL }}" rel="bookmark"
                           title="{{ SITENAME }}">
                            {{ SITENAME }}
                        </a>
                    </h2>
                </span>
                <div class="mdl-layout-spacer" role="presentation"></div>
                <nav class="eevee-nav mdl-navigation mdl-layout--large-screen-only"
                     itemscope itemtype="http://schema.org/SiteNavigationElement"
                     aria-label="Header navigation">
                    {% include 'partials/header_menu.html' %}
                </nav>
            </div>
        </header>
        <div class="eevee-mobile-header mdl-layout__drawer mdl-color--white"
             aria-hidden="true">
            <span class="mdl-layout-title">
                <h2 class="eevee-mobile-logo mdl-color-text--accent">
                    {{ SITENAME }}
                </h2>
            </span>
            <div class="mdl-navigation mdl-color--white">
                <nav class="eevee-nav mdl-navigation" itemscope
                     itemtype="http://schema.org/SiteNavigationElement"
                     aria-label="Header navigation">
                    <a class="mdl-color-text--accent mdl-navigation__link"
                       href="{{ SITEURL }}" itemprop="url" rel="bookmark">
                        Home
                    </a>
                    {% include 'partials/header_menu.html' %}
                </nav>
            </div>
        </div>
        <div class="eevee-ribbon mdl-color--primary-dark" role="presentation">
        </div>
        <main class="eevee-main mdl-layout__content">
            <div class="eevee-container mdl-grid">
                <div role="presentation"
                     class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
                </div>
                <div class="eevee-content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--8-col"
                     aria-label="Main content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
        {% if DEFAULT_PAGINATION %}
            <div class="eevee-pagination__container eevee-container mdl-grid">
                <div role="presentation"
                     class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone">
                </div>
                <div class="mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                    {% include 'partials/pagination.html' %}
                </div>
            </div>
        {% endif %}
        <footer class="mdl-mega-footer" itemscope
                itemtype="http://schema.org/SiteNavigationElement">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--drop-down-section">
                    <ul class="mdl-mega-footer--link-list">
                        <li>
                            <a href="#top" itemprop="url"
                               title="Back to the top of the page">
                                Back to the top of the page
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if MEGA_FOOTER == True %}
                {% include 'partials/mega_footer.html' %}
            {% endif %}
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    <a href="{{ SITEURL }}" rel="bookmark" itemprop="url"
                       title="{{ SITENAME }}">
                        {{ SITENAME }}
                    </a>
                </div>
                <br /><br />
                {% if DISCLAIMER or COPYRIGHT %}
                    <div class="eevee-footer mdl-mega-footer--link-list">
                        {% if COPYRIGHT %}
                            {{ COPYRIGHT }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </footer>
    </div>
    <link rel="stylesheet"
          href="//code.getmdl.io/1.1.3/material.{{ THEME_PRIMARY }}-{{ THEME_ACCENT }}.min.css">
    {% if 'assets' in PLUGINS %}
        {% include 'partials/_minify_css.html' with context %}
        {% include 'partials/_minify_js.html' with context %}
    {% else %}
        <link rel="stylesheet" type="text/css"
              href="{{ SITEURL }}/theme/css/font-awesome.css">
        <link rel="stylesheet" type="text/css"
              href="{{ SITEURL }}/theme/css/material-icons.css">
        <link rel="stylesheet" type="text/css"
              href="{{ SITEURL }}/theme/css/pygments.css">
        <link rel="stylesheet" type="text/css"
              href="{{ SITEURL }}/theme/css/eevee.css">
        <link rel="stylesheet" type="text/css"
              href="{{ SITEURL }}/theme/css/custom.css">
        <script async src="{{ SITEURL }}/theme/js/material.js">
        </script>
    {% endif %}
    {% include 'partials/analytics.html' %}
</body>
</html>
